# Godot 4+ specific ignores
.godot/
.DS_Store
.DS_Store
Areas/.DS_Store
.DS_Store
Music/.mscbackup/.Turbulent.mscz~
Characters/.DS_Store
Characters/Playable/.DS_Store
Characters/Playable/.DS_Store
Music/.mscbackup/.OldHome.mscz~
/Music/.mscbackup
Music/OldHome.mscz.autosave
